body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.login{
  background: #ffe259;
  background:linear-gradient(to right, #f1f1f1, #8a8a8a);
  
}

.bg{
  background-image: url('./../src/img/login.svg');
  background-position: center center;
  background-size: cover;
}